---
import Item from '~/components/events/GridItem.astro';
import type { Event } from '~/types';

export interface Props {
  events: Array<Event>;
  classes: Record<string, string>;
}

const { events } = Astro.props;
---

<div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-3 -mb-6 content-center">
  {events.map((event) => <Item event={event} />)}
</div>
