---
import Headline from '~/components/events/Headline.astro';
import type { Event } from '~/types';

import { getCalendarDay, getFormatedTime } from '~/utils/utils';

export interface Props {
  day: { date: Date; events: Array<Event> };
}

const { day } = Astro.props;
---
{
  day.events.length > 0 ? 
<tr style="border-bottom-width: 0px;">
  <td colspan="2"><Headline subtitle={getCalendarDay(day.date)} /></td>
</tr> : <></>
}
{
  day.events.length > 0 ? (
    day.events.map((event) => (
      <tr style="border-bottom-width: 0px;">
        <td style="padding-left: 1rem">{event.allDayEvent ? "All Day" : getFormatedTime(event.startsAt)}</td>
        <td>{event.eventName}</td>
      </tr>
    ))
  ) : <></>
}
