---
import Item from '~/components/speakers/ListItem.astro';
import type { Speaker } from '~/types';

export interface Props {
  speakers: Array<Speaker>;
}

const { speakers } = Astro.props;
---

<ul>
  {
    speakers.map((speaker) => (
      <li class="mb-12 md:mb-20">
        <Item speaker={speaker} />
      </li>
    ))
  }
</ul>
