---
import Item from '~/components/ministries/ListItem.astro';
import type { Ministry } from '~/types';

export interface Props {
  ministries: Array<Ministry>;
}

const { ministries } = Astro.props;
---

<ul>
  {
    ministries.map((ministry) => (
      <li class="mb-12 md:mb-20">
        <Item ministry={ministry} />
      </li>
    ))
  }
</ul>
