---
import Item from '~/components/sermons/ListItem.astro';
import type { Sermon } from '~/types';

export interface Props {
  sermons: Array<Sermon>;
}

const { sermons } = Astro.props;
---

<ul>
  {
    sermons.map((sermon) => (
      <li class="mb-12 md:mb-20">
        <Item sermon={sermon} />
      </li>
    ))
  }
</ul>
