---
import Layout from '~/layouts/PageLayout.astro';
import SermonsList from '~/components/sermons/List.astro';
import Headline from '~/components/sermons/Headline.astro';

import { sermonsListRobots, fetchSermons } from '~/utils/sermons';

export const prerender = true;

const sermons = await fetchSermons();

const metadata = {
  title: 'Sermons',
  robots: {
    follow: sermonsListRobots?.follow,
  },
  openGraph: {
    type: 'sermons',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>Sermons</Headline>
    <SermonsList sermons={sermons} />
  </section>
</Layout>
