---
import { SITE } from 'astrowind:config';
import Favicon from '~/assets/favicons/favicon.svg';
---

<Favicon width="87" height="87" style="display: inline;" />
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl text-gray-900 whitespace-nowrap dark:text-white">
  <span class="logo-name text-4xl">{SITE?.name}</span><br />
  <span class="logo-subname">{SITE?.subname}</span>
</span>
