---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Headline from '~/components/speakers/Headline.astro';

import { getPermalink } from '~/utils/permalinks';
import { speakersListRobots, fetchSpeakers } from '~/utils/speakers';
import { findSermonsBySpeakers } from '~/utils/sermons';

const speakers = await fetchSpeakers();
const getLastPreached = speakers.map(async (speaker) => {
  const lastSermon = (await findSermonsBySpeakers([speaker.id]))[0];
  speaker.lastPreachedDate = lastSermon?.preachDate ?? new Date(+0);
  return speaker;
});

const latestSpeakers = (await Promise.all(getLastPreached)).sort(
  (a, b) => b.lastPreachedDate.getTime() - a.lastPreachedDate.getTime()
);

const metadata = {
  title: 'Speakers',
  robots: {
    follow: speakersListRobots?.follow,
  },
  openGraph: {
    type: 'speakers',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>Speakers</Headline>
    <Features2
      columns={3}
      defaultIcon="tabler:users"
      items={latestSpeakers.map((speaker) => ({
        title: speaker.displayName,
        link: getPermalink(speaker.permalink, 'speaker'),
      }))}
    />
  </section>
</Layout>
